<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>검색결과</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css">

    <!-- Plugin CSS -->
    <link href="static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="static/css/freelancer.min.css" rel="stylesheet">

</head>

<body>
    <h1>Search<span class="badge badge-secondary">Result</span></h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">평점</th>
                <th scope="col">기업이름</th>
                <th scope="col">정확도</th>
                <th scope="col">신청여부</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <form method="POST">
                    <th class="counterCell" scope="row" width='20%'>번째 추천기업</th>
                    <td>{{ row[0].get('rating') }}점</td>
                    <td><a href="/">{{ rows.get('First') }}</a></td>
                    <td>{{ rows.get('Accuracy_Fisrt') }} %</td>
                    <td><button type="submit" name="cname" value="{{ rows.get('First') }}"
                            class="btn btn-outline-primary">신청</button></td>
                </form>
            </tr>
            <tr>
                <form method="POST">
                    <th class="counterCell" scope="row" width='20%'>번째 추천기업</th>
                    <td>{{ row[1].get('rating') }}점</td>
                    <td><a href="/">{{ rows.get('Second') }}</a></td>
                    <td>{{ rows.get('Accuracy_Second') }} %</td>
                    <td><button type="submit" name="cname" value="{{ rows.get('Second') }}"
                            class="btn btn-outline-primary">신청</button></td>
                </form>
            </tr>
            <tr>
                <form method="POST">
                    <th class="counterCell" scope="row" width='20%'>번째 추천기업</th>
                    <td>{{ row[2].get('rating') }}점</td>
                    <td><a href="/">{{ rows.get('Third') }}</a></td>
                    <td>{{ rows.get('Accuracy_Third') }} %</td>
                    <td><button type="submit" name="cname" value="{{ rows.get('Third') }}"
                            class="btn btn-outline-primary">신청</button></td>
                </form>
            </tr>
        </tbody>
    </table>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<style>
    table {
        counter-reset: tableCount;
    }

    .counterCell:before {
        content: counter(tableCount);
        counter-increment: tableCount;
    }
</style>