<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>OzicLogin</title>

</head>

<body cellpadding="0" cellspacing="0" marginleft="0" margintop="0" width="100%" height="100%" align="center">

  <div class="card align-middle" style="width:20rem; border-radius:20px;">
    <div class="card-title" style="margin-top:30px;">
      <h2 class="card-title text-center" style="color:#113366;">Ozic</h2>
    </div>
    <div class="card-body">
      <form class="form-signin" method="POST">
        <h5 class="form-signin-heading">이름을 입력.</h5>
        <label for="inputEmail" class="sr-only">Your Name</label>
        <input type="text" id="uname" name="uname" class="form-control" placeholder="Name" required autofocus><BR>
        <h5 class="form-signin-heading">아이디와 비밀번호를 입력.</h5>
        <label for="inputEmail" class="sr-only">Your ID</label>
        <input type="text" id="uid" name="uid" class="form-control" placeholder="ID" required><BR>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="upw" name="upw" class="form-control" placeholder="Password" required><br>
        <div style='display:inline; min-width:800px;'>
          <div style='float:left; min-width:90px;'>
            <div class="checkbox">
              <label>
                <div class="form-check">
                  <h6>Job <span class="badge badge-secondary">직종</span></h6>
                  <input class="form-check-input" type="checkbox" name="it" id="exampleRadios1" value="1">
                  <label class="form-check-label" for="exampleRadios1">
                    it
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="manu" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    제조업
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="serv" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    서비스업
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="mana" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    경영,관리
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="design" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    디자인
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="med" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    의료
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="media" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    미디어
                  </label>
                </div>
            </div>
          </div>
          <div style='float:left; min-width:90px;'>
            <div class="checkbox">
              <label>
                <div class="form-check">
                  <h6>Com <span class="badge badge-secondary">기업</span></h6>
                  <input class="form-check-input" type="checkbox" name="major" id="exampleRadios1" value="1">
                  <label class="form-check-label" for="exampleRadios1">
                    대기업
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="medium" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    중기업
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="small" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    소기업
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="start" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    스타트업
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="public" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    공기업
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="listed" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    상장기업
                  </label>
                </div>
            </div>
          </div>
          <div style='float:left; min-width:90px;'>
            <div class="checkbox">
              <label>
                <div class="form-check">
                  <h6>Loc <span class="badge badge-secondary">지역</span></h6>
                  <input class="form-check-input" type="checkbox" name="seo" id="exampleRadios1" value="1">
                  <label class="form-check-label" for="exampleRadios1">
                    서울
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="cap" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    수도권
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="gg" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    경기권
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="bu" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    부산
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="dae" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    대전
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="ul" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    울산
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="inc" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    인천
                  </label>
                </div>
            </div>
          </div>
          <div style='float:left; min-width:90px;'>
            <div class="checkbox">
              <label>
                <div class="form-check">
                  <h6>Pay <span class="badge badge-secondary">급여</span></h6>
                  <input class="form-check-input" type="checkbox" name="p100" id="exampleRadios1" value="1">
                  <label class="form-check-label" for="exampleRadios1">
                    100-200
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="p200" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    200-300
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="p300" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    300-400
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="p400" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    400-500
                  </label>
                </div>
            </div>
          </div>

          <div style='float:left; min-width:90px;'>
            <div class="checkbox">
              <label>
                <div class="form-check">
                  <h6>Time <span class="badge badge-secondary">시간</span></h6>
                  <input class="form-check-input" type="checkbox" name="w16" id="exampleRadios1" value="1">
                  <label class="form-check-label" for="exampleRadios1">
                    W16
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="w24" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    W24
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="w32" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    W32
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="w40" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    W40
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="w50" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    W50
                  </label>
                </div>
            </div>
          </div>
          <div style='float:left; min-width:90px;'>
            <div class="checkbox">
              <label>
                <div class="form-check">
                  <h6>Day <span class="badge badge-secondary">날짜</span></h6>
                  <input class="form-check-input" type="checkbox" name="mon" id="exampleRadios1" value="1">
                  <label class="form-check-label" for="exampleRadios1">
                    월
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="tue" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    화
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="wed" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    수
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="thu" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    목
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="fri" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    금
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="sat" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    토
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="sun" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    일
                  </label>
                </div>
            </div>
          </div>
          <div style='float:left; min-width:90px;'>
            <div class="checkbox">
              <label>
                <div class="form-check">
                  <h6>Edu <span class="badge badge-secondary">학력</span></h6>
                  <input class="form-check-input" type="checkbox" name="dedu" id="exampleRadios1" value="1">
                  <label class="form-check-label" for="exampleRadios1">
                    무관
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="gra" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    학사
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="mas" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    석/박사
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="hi" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    고졸
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="car" id="exampleRadios2" value="1">
                  <label class="form-check-label" for="exampleRadios2">
                    경력직
                  </label>
                </div>
            </div>
          </div>
        </div>
        </label>
    </div>
    <button id="btn-Yes" class="btn btn-lg btn-primary btn-block" type="submit">SignUp</button>
    </form>

  </div>
  </div>

  <div class="modal">
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>
<style>
  @import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

  html {
    height: 100%;
  }

  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 40px;
    font-family: "Nanum Gothic", arial, helvetica, sans-serif;
    background-repeat: no-repeat;
    background: linear-gradient(to bottom right, #0098FF, #6BA8D1);
  }

  .card {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
</style>