 <!-- Portfolio Modal 1 -->
 <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">구체적인 주제 설정</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="static/img/portfolio/" alt="">
            <p class="mb-5">4차 산업시대가 다가옴에따라 기존 정규직의 직장구조가 아닌 프리랜서 및 아르바이트 형태의 직장구조로 변화하는 움직임을 보인다.
              그에 따라 효과적인 구인/구직 매칭 플랫폼을 만들고자하여 구인/구직자 데이터 기반의 양방향 매칭플랫폼을 제작하고 있다.
            </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 2 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">단방향 매칭 플랫폼의 작동원리</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="static/img/portfolio/" alt="">
            <p class="mb-5">몇가지 필터링을 통한 단방향 매칭 플랫폼으로 데이터셋 비교를 통해 오로지 필터링만 사용하는 작동 원리이다. 사후 평가가 적용되지 않고, 자유도가 떨어진다.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 3 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">양방향 매칭 플랫폼의 작동원리</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="static/img/portfolio/" alt="">
            <p class="mb-5">기존 매칭 시스템에서 없던 사후 평가점수, 구인자가 원하는 스펙, 선호사항, 구직자가 소유하고있는 스팩, 선호사항 등을 인풋으로 머신러닝기반 매칭 우선순위 설정이 가능하다. 
              구인/구직자가 업무 종료 후 평가점수를 매겨 시스템에 반영된다.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-4">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">기대 효과</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="static/img/portfolio/" alt="">
            <p class="mb-5">단방향 매칭시스템에 비해 양방향 매칭시스템은 데이터가 쌓여갈수록 더욱 나은 정보를 제공해줄 수 있고, 구인/구직자 측에서 가장 높은 선호도에 알맞는 매칭을 제공 받을 수 있다. 이는 앞으로 변해갈 직장구조에 조금더 유동적이고 합리적인 구인/구직 플랫폼이 될 수 있다.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-5">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">수행한 내용</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="static/img/portfolio/" alt="">
            <p class="mb-5">BootStrap을 이용한 웹 프론트앤드 개발, DB접속 모듈, 로그인 세션, 임의의 데이터 셋 적용한 매칭기능 개발
              로그인데이터 셋에 머신러닝 매칭에 사용될 필터링 벡터 삽입
            </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 6 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-6">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">추후 할 내용</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="static/img/portfolio/" alt="">
            <p class="mb-5">매칭에 머신러닝 적용, 데이터 셋 획득, 필터링 벡터를 수정할 수 있는 내 정보 페이지 제작</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  