 <!-- Portfolio Modal 1 -->
 <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">구체적인 주제 설정</h2>
            <hr class="star-dark mb-5">
              <img class="img-fluid mb-2" src="static/img/portfolio/airbnbUber.png" alt="">
            <p class="mb-5">현존하는 양방향 매칭 플랫폼(좌:에어비앤비 우:우버)<hr>
              4차 산업시대가 다가옴에따라 기존 정규직의 직장구조가 아닌 프리랜서 및 아르바이트 형태의 직장구조로 변화하는 움직임을 보인다.
              그에 따라 효과적인 구인/구직 매칭 플랫폼을 만들고자하여 구인/구직자 데이터 기반의 양방향 매칭플랫폼을 제작하고자 한다.
            </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 2 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">단방향 매칭 플랫폼의 작동원리</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5" src="static/img/portfolio/direction.png" alt="">
            <p class="mb-5">단방향 구인구직 플랫폼<hr>
              구직자가 자신에게 맞는 항목들을 선택하여 직장을 알아보는 형식, 
              항목에 맞는 상대를 단순히 검색하는 방식, ex) wishkat, 사람인, 잡플레닛, 자소설닷컴
              카테고리로 나누어져 있기 때문에 구직자에 알맞은 직장이지만 정보제공이 되지 않는 경우가 생길 수 있다. </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 3 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-3">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">양방향 매칭 플랫폼의 작동원리</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5 col-lg-6" src="static/img/portfolio/bidirection.png" alt="">
            <p class="mb-5">기존 매칭 시스템에서 없던 사후 평가점수, 구인자가 원하는 스펙, 선호사항, 구직자가 소유하고있는 스팩, 선호사항 등을 인풋으로 머신러닝기반 매칭 우선순위 설정이 가능하다. 
              구인/구직자가 업무 종료 후 평가점수를 매겨 시스템에 반영된다.</p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 4 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-4">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">기대 효과</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5 col-lg-8" src="static/img/portfolio/effect.png" alt="">
            <p class="mb-5">양방향 매칭 플랫폼<hr>
                프리랜서가 많아짐에 따라 매번 좋은 직장을 원하는 것도 중요하지만 적합한 사람을 원하는 구인자의 구인 필요성이 높아짐.
                많은 구직자에 비해 구인자의 수가 적기에 양방향의 조건을 만족시키는 시스템이 효율적이게 된다.
                구직자 조건과 구인자 조건의 매칭률을 계산하여 가장 적합한 구인자, 구직자를 순위별로 추천한다.
                양방향 매칭의 경우 기본적으로 정보검색이 편리해지고 양방향의 조건을 만족시키기 때문에 구직자, 구인자에게 자신감을 주어 취업활동의 동기부여가 된다.<br></p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 5 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-5">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">수행한 내용</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5 col-lg-6" src="static/img/portfolio/ozic.png" alt="">
            <p class="mb-5">BootStrap을 이용한 웹 프론트앤드 개발, DB접속 모듈, 로그인 세션, 임의의 데이터 셋 적용한 매칭기능 개발
              로그인데이터 셋에 머신러닝 매칭에 사용될 필터링 벡터 삽입, 단방향 매칭 알고리즘 구현
            </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Portfolio Modal 6 -->
  <div class="portfolio-modal mfp-hide" id="portfolio-modal-6">
    <div class="portfolio-modal-dialog bg-white">
      <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
        <i class="fa fa-3x fa-times"></i>
      </a>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">추후 할 내용</h2>
            <hr class="star-dark mb-5">
            <img class="img-fluid mb-5 col-lg-12" src="static/img/portfolio/ml.png" alt="">
            <p class="mb-5">머신러닝 적용, 데이터 셋 획득, 벡터를 수정할 수 있는 내 정보 페이지 제작<hr>
              사용자의 정보를 1차원의 벡터로 Encoding 해준다.
              머신러닝의 입력값으로 주기위하여 5X5의 이차원 행렬로 만들어준다.
              기업의 정보를 Test Data로 한 모델에 이차원 행렬을 입력값으로 주고,
              사용자의 Input과 가장 유사한 출력을 정렬하여 상위 3가지를 추천해준다.
              학습 모델을 만들어서 Test 해본다. 기업의 수와 사용자의 수를 늘렸을 때의
              정확도와 손실도를 계산하여 그래프로 출력한다. 학습수(Epoch)을 달리하여서 
              가중치를 충분히 업데이트하여 원하는 결과를 도출 한다.
            </p>
            <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
              <i class="fa fa-close"></i>
              Close Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  